body {
    margin: 0;
    overflow: hidden !important;
    background: url(./images/pexels-jacub-gomez-1142950.jpg);
    background-size: cover;
    background-position: center;

}

main {
    margin: 0;
    display: flex;
    flex-wrap: wrap;


}

.masque {
    position: fixed;
    top:0px;
    left:0px;    
    width: 100%; /* 100 vw */
    height:100%;  /* 100 vh */
    z-index: 1000;
    background-color: rgba(0,0,0,0.8);
    
    /* On masque l'élément */
    display: none ;
}
.message {
    background-color: #40bc81;
    width: 300px;
    height: 200px;
    margin: 100px auto;
    padding: 10px; 
}
.mix-container {
    display: flex;
    height: 100vh;

}

.mix-button {
    display: flex;
    flex-direction: column;
    margin: 1% 2% 1% 2%;
    padding: 20px;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 300px;
}

.mix-button button {
    color: white;
    background-color: #69A3B9;
    border: none;
    height: 100px;
    border-radius: 50%;

    width: 100px;
    border-radius: 50%;
    transition: all .4s ease;

}

.mix-button button:hover {
    transform: scale(1.1);
}

.card {
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bubble {
    display: flex;
    position: relative;
    margin: 2%;
    /* background: url(./images/Booki\ -\ Google\ Chrome\ 10_10_2022\ 15_21_29.png); */
    width: 450px;
    height: 450px;
    background-size: cover;
    border-radius: 50%;
}
.button-container-htmlss {
    background:url(./images/html-et-css.jpg);
    background-position: center;
    background-size: cover;
}
.button-container-seo {
    background:url(./images/Google-Page-Experience-seo.jpg);
    background-position: center;
    background-size: cover;
}
.button-container-js {
    background:url(./images/js.png);
    background-position: center;
    background-size: cover;
}
.button-container-api {
    background:url(./images/Building-a-RESTful-API-Using-Node.JS-and-MongoDB.png);
    background-position: center;
    background-size: cover;
}
.button-container-vue {
    background:url(./images/vue.png);
    background-position: center;
    background-size: cover;
}
.bubble img {
    object-fit: cover;
    border-radius: 50%;
    width: 450px;
    height: 450px;
}

.bubble .filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.projet1 a,
.projet2 a,
.projet3 a,
.projet4 a,
.projet5 a,
.projet6 a {
    margin: auto;
}


.bubble {
    position: relative;
    display: inline-block;
    transition: all .4s ease;
}

.bubble img {
    display: block;
}

.filter {
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    display: flex;
}

.filter p {
    color: #fff;
}


.bubble:hover {
    transform: scale(1.1);

}


.bubble:hover .filter {
    visibility: visible;
    border-radius: 50%;

}